nav {
	background-color: blue;
	min-height: 100px;
}
ul {
	list-style-type: none;
 }
li {
	min-width: 300px;
	line-height: 100px;
	text-align: center;
	float: right;
	border: solid;
	margin-top: 0px;
	font-size: 38px;
}

#intro {
	min-height: 500px;
	background-color: green;
}

h1 {
	text-align: center;
	font-size: 56px;
}

h2 {
	text-align: center;
	font-size: 48px;
}

h3 {
	text-align: center;
	font-size: 40px;
}

.winning {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#win {
	margin: 100px;
	border: solid;
	border-radius: 50%;
	width: 200px;
	height: 200px; 
	text-align: center;
	line-height: 200px;
}

.projects {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

#box {
	font-size: 32px;
	border: solid;
	padding: 50px;
	width: 200px;
	height: 200px;
	justify-content: space-around;
	margin: 100px;
	text-align: center;
	line-height: 150px;
	box-shadow: 5px 5px red;
}