@import '../styles/module_constants.css';

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    }
    
.container h1 {
font-size: 3rem;
font-weight: bold;
margin-bottom: 2rem;
}

.container h2 {
font-size: 2rem;
font-weight: bold;
margin: 4rem 0 2rem 0;
}

.container p {
font-size: 1.5rem;
line-height: 1.5;
margin-bottom: 1.5rem;
}

.collapsibleHeader {
    cursor: pointer;
}

.collapsibleContent {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out, visibility 0.5s ease-out;
  }
  
.collapsibleContent.show {
    max-height: 1000px;
    opacity: 1;
    visibility: visible;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
  