.rdp {
  /* Background color */
  --color1: hsl(218, 20%, 15%);   /* Dark Blue */
  
  /* Text color */
  --color2: hsl(260, 30%, 60%);   /* Dark Blue (Highlight) */
  
  /* Additional colors */
  --color3: hsl(136, 69%, 53%);   /* Teal */
  --color4: hsl(11, 61%, 71%);    /* Light Orange */
  
  /* Text hover color */
  --color5: hsl(0, 12%, 80%);     /* White (Text) */
}